<!DOCTYPE html>
<html lang="en"

<head>
    <meta charset="ETF-8" />
    <title>Kadika's Test Site</title>
    <!--Reset CSS-->
    <link rel="stylesheet" href="/css/reset.css">
    <!--Stylesheet-->
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <section class="flexy toSides darkPurpleBack fullPadding-5">
        <a class="font-40 white noDeco" href="/">Kadika's Website</a>
        <div class="flexy spaceEqually">
            <a class="fullMargin-5 font-20 white noDeco" href="/newcharacter">New Character</a>
            <a class="fullMargin-5 font-20 white noDeco" href="/login">Login</a>
        </div>
    </section>

    <section>
        Placeholder (New Character)
    </section>
</body>

</html>