.flexy {
    display: flex;
    flex-wrap: wrap;
}

.spacy {
    justify-content: space-evenly;
}

/* Width size defining containers */
.fullContainer {
    width: 100%
}

.sixtySixContainer {
    width: 66%;
}

.sixtyContainer {
    width: 60%;
}

.fiftyContainer {
    width: 50%;
}

.fortyContainer {
    width: 40%;
}

.thirtyThreeContainer {
    width: 33%;
}

.sixteenContainer {
    width: 16%;
}

/* Character Name stuff */
#characterNameContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    height: 200px;
}

#characterName {
    font-size: 40px;
}

/* New Character generation button stuff */
#newCharacter {
    width: 100%;
}