#landing {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

#characterSec {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
    background-color: aqua;
}

#characterNameDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
    background-color: aquamarine;
}

#characterNameSpot {
    padding-left: 10px;
}

#sixStatsDiv {
    width: 60%;
    background-color: rgb(255, 206, 114);
}

.oneOfSixStatsDiv {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}