.flexy {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: aquamarine;
}

.oneOfTwo {
    width: 50%;
}

.oneOfThree {
    width: 33%;
}

.oneThirdContainer {
    width: 33%;
}

.twoThirdsContainer {
    width: 66%;
}

.fullContainer {
    width: 100%
}

.fortyContainer {
    width: 40%;
}

.sixtyContainer {
    width: 60%;
}